* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section .inicio{
    width: auto;
}

.containerPerfil{
    width: fit-content;
    margin: auto;
    float: left;
}

.imgPerfil{
    width: 100%;
    height: 400px;
}

