body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, #1f2a39, #526D82);
}

section .inicio {
    position: relative;
    width: 100%;
    padding: 25px;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* Espacio entre la imagen y el texto */
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    color: #f4f4f4;

}

/*Posicion de la imagen y su contenedor*/

.containerPerfil {
    width: fit-content;
    margin-top: 100px;
    padding-left: 150px;
}

.imgPerfil {
    width: 100%;
    max-width: 350px;
    /* Limita el tamaño máximo para pantallas grandes */
    height: auto;

    border-radius: 25px;
}

/*Poscion y estilos de los textos de presentacion*/

.aboutme {
    max-width: 45%;
    height: auto;
    padding: 10px;
}

.aboutme h1 {
    font-size: xx-large;
    font-weight: lighter;
}

.aboutme p {
    padding-top: 15px;
    font-weight: lighter;
}

/*Estilo y posicion de boton conocerme mejor*/

.botonKM {
    width: fit-content;
    margin: auto;
    padding-top: 50px;


}

.botonInicio {
    padding: 15px;
    font-size: larger;
    border-radius: 25px;
    box-shadow: 3px 3px 3px black;
    border: none;
    background-color: white;
    color: #1f2a39;
    text-decoration: none;
    font-weight: bold;
}



.botonKM .botonInicio:hover {
    background-color: #1f2a39;
    color: #f4f4f4;
    border: none;
    box-shadow: 3px 3px 3px white;
}

.iconos {
    width: 100%;
    margin: auto;
    padding-top: 45px;

}

.redesSociales {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

li .icon {
    width: 50px;
    margin-top: 50px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 10px 0;
    font-size: 1em;
    line-height: 1.5;
}

.footer a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #0056b3;
}
